nav {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}